@model List<Product>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <a class="btn btn-primary mt-4 mb-3" asp-controller="Product" asp-action="Create">Create Product</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var obj in Model)
                    {
                        <tr>
                            <th scope="row">@obj.Id</th>
                            <td>@obj.BookTitle</td>
                            <td>@obj.Author</td>
                            <td>@obj.Category.CategoryName</td>
                            <td>@obj.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>